[user]
	name = Edward Taylor
	# home.nix will replace this email line
	email = dev@edt.nz

[pull]
	rebase = true

[merge]
	ff = yes

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[status]
	submoduleSummary = true

[diff]
	submodule = log

[submodule]
	recurse = true

[rebase]
	updateRefs = true

[stack]
	stack = "dependents"